*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: #4AF305;
}

header nav .componentes{
    display: flex;
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2em;
    list-style-type: none;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    margin-right: 2rem;
    margin-top: 1.5rem;
}

a{
    text-decoration: none;
    color:black;
}

header nav .logo{
    display: flex;
    margin-left: 1rem;
}

body{
    background-color: #2D2F2C;
    color:blue;
}

body h1{
    display: flex;
    justify-content: center;
}

body .geral{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.6rem;
    width: 100%;
    margin-top: 2rem;
}

body .geral p{
    padding: 0rem 2rem;

}

body .propaganda{
    display: flex;
    justify-content: right;
    align-items: center;
    float: right;
}

body .app{
    padding-right: 1rem;
    justify-content: space-around;
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 1rem;
}

body .app li img{
    display: flex;
    justify-content: space-around;
    height: 450px;
    width: 225px;
}

footer{
    background-color: #4AF305;
    color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer .rodape{
    margin-left: 1rem;
}